@model IS_Proj_HIT.Models.Patient
<link rel="stylesheet" href="~/css/forms.css" />
<div class="bg-primary m-1 p-1 text-white"><h4>Add Patient</h4></div>
<form method="post" id="patient" name="patient" asp-action="AddPatient">
    <div class="container" asp-validation-summary="All"></div>
    <div class="text-center shadebox">
        <label>MRN</label><br />
        <input asp-for="@Model.Mrn" name="Mrn" id="mrn" placeholder="ABC321" maxlength="6" />
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>First Name</label><br />
                <input asp-for="@Model.FirstName" pattern="[A-Za-z]" name="FirstName" placeholder="John" />

            </div>
            <div class="col-sm-4">
                <label>Middle Initial</label><br />
                <input asp-for="@Model.MiddleName" name="Middle" placeholder="X" maxlength="1" />

            </div>
            <div class="col-sm-4">
                <label>Last Name</label><br />
                <input asp-for="@Model.LastName" pattern="[A-Za-z]" name="lastName" placeholder="Smith" />

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Alias First Name</label>
                <input asp-for="@Model.AliasFirstName" name="aliasFirstName" placeholder="John" />

            </div>
            <div class="col-sm-4">
                <label>Alias Middle Initial</label>
                <input asp-for="@Model.AliasMiddleName" name="aliasMiddleName" placeholder="X" maxlength="1" />

            </div>
            <div class="col-sm-4">
                <label>Alias Last Name</label>
                <input asp-for="@Model.AliasLastName" name="aliasLastName" placeholder="Smith" />

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Maiden Name</label>
                <input asp-for="@Model.MaidenName" name="MaidenName" placeholder="Smith" />
            </div>
            <div class="col-sm-4">
                <label>Mother's Maiden Name</label>
                <input asp-for="@Model.MothersMaidenName" name="MothersMaidenName" placeholder="Smith" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="interp">Interpreter Needed?</label>
                <input id="interp" asp-for="@Model.InterpreterNeeded" placeholder="30000" />
            </div>
            <div class="col-sm-4">
                <label for="deceased">Deceased</label>
                <input id="deceased" asp-for="@Model.DeceasedLiving" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>SSN</label><br />
                <input asp-for="@Model.Ssn" name="Ssn" type="password" maxlength="9" />
            </div>
            <div class="col-sm-4">
                <label>DOB</label><br />
                <input type="date" asp-for="@Model.Dob" name="Dob" placeholder="30000" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Marital Status</label>
                <select class="form-control dropdowns" asp-for="@Model.MaritalStatusId" asp-items="ViewBag.MaritalStatus"></select>
            </div>
            <div class="col-sm-4">
                <label>Ethnicity ID</label>
                <select class="form-control dropdowns" asp-for="@Model.EthnicityId" asp-items="ViewBag.Ethnicity"></select>
            </div>
            <div class="col-sm-4">
                <label>Religion</label>
                <select class="form-control dropdowns" asp-for="@Model.ReligionId" asp-items="ViewBag.Religions"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Sex</label>
                <select class="form-control dropdowns" asp-for="@Model.SexId" asp-items="ViewBag.Sexes"></select>
            </div>
            <div class="col-sm-4">
                <label>Gender</label>
                <select class="form-control dropdowns" asp-for="@Model.GenderId" asp-items="ViewBag.Gender"></select>
            </div>
        </div>

        <br />
        <input asp-for="@Model.LastModified" type="text" readonly hidden value="@(ViewBag.LastModified ?? String.Empty)" />
        <button type="submit">Create</button>
</form>
</div>

<hr />
<a asp-action="Index">Home</a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"</script>

